/wtmbjs-2/node_modules/
/wtmbjs-2/package-lock.json
/wtmbjs-3/node_modules/
/wtmbjs-3/package-lock.json
.vscode/launch.json
/wtmbjs-4/node_modules/
/wtmbjs-4/package-lock.json
/wtmbjs-5/node_modules/
/wtmbjs-5/package-lock.json
/wtmbjs-5/.env
/wtmbjs-6/node_modules/
/wtmbjs-6/package-lock.json
/wtmbjs-6/.env
/wtmbjs-6/.nyc_output
/wtmbjs-7/node_modules/
/wtmbjs-7/package-lock.json
/wtmbjs-7/.env
/wtmbjs-7/.nyc_output
/wtmbjs-8/backend/node_modules/
/wtmbjs-8/frontend/node_modules/
/wtmbjs-8/backend/package-lock.json
/wtmbjs-8/frontend/package-lock.json
/wtmbjs-8/backend/.env
/wtmbjs-8/docker-compose.yml
