extends layout

block content
    h1 The number of the artist is #{artists.length}
    each artist in artists
      h4 id: #{artist.id}
      h4 Artist: #{artist.artistName}
      h4 Songs: #{ JSON.stringify(artist.songs)}
     
